# SPDX-License-Identifier: GPL-3.0-only

[Desktop Entry]
Type=Application
Name=DriveBeacon
Name[es]=DriveBeacon
Comment=System tray indicator for OneDrive synchronization
Comment[es]=Indicador de bandeja para la sincronización de OneDrive
Exec=@CMAKE_INSTALL_FULL_BINDIR@/DriveBeacon
Icon=folder-cloud
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;
StartupNotify=false
